.callButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: blueviolet;
    color: #fff;
    border: 0;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in;

    &:hover {
        background-color:darkmagenta;
    }
}