.postTable {
    border: 3px solid blueviolet;
    border-collapse: collapse;
    margin: 20px auto;

    th {
        text-transform: uppercase;
    }

    th, td {
        border: 2px solid blueviolet;
        padding: 10px;
    }

    img {
        max-height: 200px;
    }
}

.postForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textField {
    margin: 7px !important;
}

.button {
    margin: 7px !important;
    width: 281px;
}